@charset "utf-8";
/*css document*/

.hidden {
	display: none;
}
/*THE FONT I AM USING

SUBTITLE / QUOTES
font-family: 'Krub', sans-serif;
TITLE
font-family: 'Ubuntu', sans-serif;
PARAGRAPH TEXT
font-family: 'Noto Sans JP', sans-serif; */

#topBar
{
	background-color: black;
	height: 10px;
	margin-bottom: 30px;
}

#siteContainer
{
	margin: 0 auto;
	width: 960px;
	padding-left: 20px;
	padding-right: 20px;
}

#mainHeader
{
	display: flex;
	flex-direction: row;
  justify-content: flex-start;
}

#bottomBar
{
	background-color: black;
	height: 10px;
}
